.grisfluix {
    color: rgb(168, 166, 166);
}
.gris {
    color: rgb(134, 133, 133);
}
.roig {
    color: red
}
.roig2 {
    color: rgb(206, 2, 2)
}
.roig3 {
    color: rgb(187, 4, 4)
}
.roig4 {
    color: rgb(163, 3, 3)
}
.roig5 {
    color: rgb(114, 2, 2)
}