.groc{
color: rgb(247, 182, 5);
}
.fondoblau{
background-color: blue;
color: white;
}
.fondoverd{
background-color: rgb(3, 134, 10);
color: white;
}
.lila{
color: blueviolet;
}
.negrita{
font-weight: bolder;
}