.text{
    background-color: rgb(204, 228, 204);
    margin-right: 50%;
    width: 465px;
    margin-left: 700px;
}
.titul{
    font-style: italic;
    font-family: fantasy;
    font-size: 48px;
    width: 250px;
    margin-left: 180px;
}
.lletrapetita{
    font-size:12px;
    width: 250px;
    margin-left: 180px;
    width: 300px;
}
button{
    font-size: smaller;
    border-radius: 25px;
    padding: 10px 20px;
    margin-left: 180px;
}
.subrayat{
    text-decoration: underline;
}
.centrar{
    text-align: center;
}