body{
    margin: 0;
    background-color: #797979;
}
header {
    display: flex;
    background-color: #a19f9f;
    color: #fff;
    align-items: center;
}
.activitatHTML{
    margin-left: 20px;
    color: black;
}
.activitatCSS{
    margin-left: 20px;
    color: black;
}
.activitatHTML :hover{
    color: gray;
}
.activitatCSS :hover{
    color: gray;
}
.contacte{
    margin-left: 20px;
    color: black;
}
.contacte :hover{
    color: gray;
}
.curriculum{
    margin-top: 2%;
    margin-left: 5%;
    color: black;
}